server:
  port: 8774

#指定注册中心地址
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

#服务的名称
#请求地址： http://localhost:8774/接路由
spring:
  application:
    name: zuul-service

#参考地址：https://blog.csdn.net/qiushisoftware/article/details/106034137
zuul:
  routes:
      api:
       path: /api/controller/**
       serviceId: zuul-service
    #eureka-client: /zuul/service01/**   #自定义路由，即访问的时候，自动把 eureka-client  换成 /zuul/service01/
    #message-service: /zuul/service02/**
  #ignored-services: eureka-client  #忽略整个服务，对外提供接口
#    feign:
#      path: /api/v1/loan/** # 自定义的路由
#      serviceId: message-service # 指向的服务名称


#参考文章：https://www.cnblogs.com/q149072205/p/14081185.html
# 自定义配置
sysconfig:
  isDebug: true  #是否Debug
  swagger: true  #开启swagger

#正常走的地址：eureka-client ：http://localhost:8771/api/controller/loan/sendmessage
#异常之后走：message-service：http://localhost:8772/api/v1/loan/sendmessage1