server:
  port: 8774

#指定注册中心地址
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

#服务的名称
#请求地址： http://localhost:8771/接路由
spring:
  application:
    name: zuul-service


